
.sectionThree {
  margin-top: 200px;
  //position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/backgroudSectionThree.png');
  padding-top: 200px;
  padding-bottom: 200px;
}

.thirdSection {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.lineSectionThree {
  max-width: 1197px;
  width: 100%;
  border: 1px solid #000000;

}

.advantageBionic {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  font-family: 'Manrope', sans-serif;
  margin-top: 80px;

}
.firstBlock {
  display: flex;
  margin-top: 78px;
}
.secondBlock {
  display: flex;
  margin-top: 50px;
}
.block {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px 0px;
  height: 300px;
  width: calc(100% / 4 - 20px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 5px 10px 10px;
  font-family: 'Manrope', sans-serif;
  margin-right: 20px;
  &:nth-child(4n + 4){
    margin: 0;
  }
}
.blockOne {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px 0px;
  height: 300px;
  width: calc(100% / 4 - 20px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 5px 10px 10px;
  font-family: 'Manrope', sans-serif;
  margin-right: 20px;
  backdrop-filter: blur(4px);
}

.titleBlockSectionThree {
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}
.descriptionBlockSectionThree {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;

}
.numberSectionThree {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.25px;
}


