.sectionSix {
  background: #A4C2CF;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sectionSixth {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.sectionSixLine {
  border: 1px solid #000000;
  width: 100%;
}
.infrastructure {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  color: #000000;
  margin-top: 80px;
  margin-bottom: 0;
}
.cafeAndRestaurant {
  margin-top: 125px;
}
.pBlockOne {
  margin: 30px 0 30px 0;
}
.lineBlockOne {
  max-width: 568px;
  width: 100%;
  border: 1px solid #000000;
}
.banksBlockOne {
  margin-top: 100px;
}
.textBlockOne {
  margin-top: 268px;
}
