.fourthSection {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
}
.lineSectionFour {
  max-width: 1200px;
  width: 100%;
  border: 1px solid #8D8D8D;
}
.characteristics {
  margin-top: 80px;
  display: flex;
}
.characteristicsTitle {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
}
.characteristicsDescription {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  margin: 225px 0 0 135px;
}
.characteristicsLine {
  border: 1px solid #000000;
  margin-bottom: 40px;
}
.characteristicsBlock {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;

}
.blockSectionFour {
  border: 1px solid #8D8D8D;
  border-left: none;
  height: 150px;
  width: calc(100% / 4);
  box-sizing: border-box;
  &:nth-child(4n +  4){
    border-right: none;
  }
  &:nth-child(1n +  5){
    border-top: none;
  }
}
.blockTitle {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  color: #000000;
  opacity: 0.75;
}
.blockDescription {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.75;
}
.imgSectionFour {
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
}



