.header{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 1;
    font-family: 'Manrope', sans-serif;
}
.logo {
    margin-top: 41px;
    margin-left: 86px;
}
.menu-item {
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 18px;
    margin-right: 30px;
}
.p {
    margin: 0;
}
.navi {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: 60px;
    margin-top: 50px;
    white-space: nowrap;
}
.line {
    border: none;
    background-color: #52A9DC;

    height: 2px;
}
