.sectionTwo {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.lineSectionTwo {
  max-width: 1200px;
  width: 100%;
  margin-top: 300px;
  background: #808080;
  border: 1px solid #8D8D8D;
}
.img {
  width: 1000px;
  height: 600px;
  margin-top: 130px;
  background: url('../../assets/img/imgSectionTwo.png');
  border-radius: 0px 0px 100px 0px;
}

.aboutBionicSectionTwo {
  display: flex;
  justify-content: space-between;
}
.bionicSectionTwo {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  margin-top: 100px;
}
.textAboutBionic {
  margin-top: 142px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  font-family: Manrope, sans-serif;
}
.moreAboutTheProject {
  width: 305px;
  height: 60px;
  left: 0px;
  background: #A9D96C;
  border-radius: 20px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 50px;
}
.img2Section2 {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.line2SectionTwo {
  width: 290px;
  border: 1px solid #000000;
}
.textNearLine {
  margin-top: 40px;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}


